* {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  .navbar {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(253, 253, 251);
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 30px;
  }
  li a {
    text-decoration: none;
    color: rgb(253, 253, 251);
    &:hover {
      color: rgb(226, 140, 9);
    }
  }
  
  header {
    width: 100vw;
    height: 50vw;
    background-image: url("./a-beautifully-lit-outdoor-restaurant-featuring-colorful-lanterns-and-wooden-tables-surrounded-by-lush-tropical-plants-at-night-photo.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-content {
    margin-bottom: 50px;
    color: rgb(253, 253, 251);
    text-align: center;
  }
  .header-content h1 {
    font-size: 15vmin;
    margin-top: 20px;
    margin-bottom: 9px;
    text-align: center;
    
  }
  .header-content h2 {
    font-size: 4vmin;
    text-align: center;
    margin-top: 20px;
    margin-bottom:9px ;
    
  }
  .header-content h3{
    font-size: 4vmin;
    text-align: center;
    padding: 50px;
  }
  .line {
    width: 150px;
    height: 4px;
    background-color: yellow;
    margin: 10px auto;
    border-radius: 5px;
  }
  
  .btn {
    padding: 8px 15px;
    background-color:yellow;
    border-radius: 30px;
    color: rgb(8, 8, 8);
    text-align: center;
    text-decoration: none;
    &:hover{
      background-color:rgb(226, 140, 9);
    }
  }
  

  

    