* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
  
  font-weight: 400;
  color: #ffff;
  
}
ul {
  list-style: none;
}
.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: rgb(253, 253, 251);
  img{
    width: 40px;
    height: 40px;
    display: none;
  }
}
.nav-links {
  display: flex;
  align-items: center;
  
  font-style: Libre Baskerville;
  font-weight: 400;

 
}
.nav-links li {
  margin: 0 30px;
}
li a {
  text-decoration: none;
  color: #DEDEDE;;
  &:hover {
    color: #fecb08;
  }
}


header {
  width: 100%;
  height: 600px;
  background-image: url("./background.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  margin-bottom: 50px;
  color: rgb(253, 253, 251);
  text-align: center;
}
.header-content h1 {
  font-size: 25vmin;
  margin-top: 20px;
  margin-bottom: 9px;
  text-align: center;
  font-style: Libre Baskerville;
  
}
.header-content h2 {
  font-size: 4vmin;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: Montserrat;
  font-weight: 400;
}
.header-content h3 {
  font-weight: 400;
  color: #DFDFDF;
  text-align: center;
  padding: 50px;
  font-style: Montserrat;

}
.line {
  width: 150px;
  height: 4px;
  background-color: #fecb08;
  margin: 10px auto;
  border-radius: 5px;
}
.table a{
  color: white;
}

.btn {
  padding: 8px 15px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  &:hover {
    border-radius: 20px;
    background-color: #fecb08;
    color: black;
  }
}


p {
  font-style: Libre Baskerville;
  margin-top: 40px;
  font-size: 25px;
  text-align: center;
  color: #fecb08;
}
h2 {
  padding-top: 20px;
  font-size: 60px;
  text-align: center;
  font-style: Libre Baskerville;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 60px;
}
.image img {
  width: 450px;
  height: 500px;
  border-radius: 20px;
}
.maincourses th {
  font-size: 20px;
  padding-top: 9%;
  padding-left: 60px;
  font-family: Cormorant Upright;
}
.maincourses td {
  font-size: small;
  padding-left: 60px;
  font-family: Open Sans;
}
.maincourses h3 {
  font-size: 40px;
  font-style: Libre Baskerville;
}
.maincourses {
  padding-right: 30px;
  text-align: center;
  padding-top: 50px;
}
.entreespecials {
  text-align: center;
  padding-right: 20px;
  padding-top: 50px;
  
}
.entreespecials th {
  font-size: 20px;
  padding-top: 10%;
  padding-left: 60px;
  font-family: Cormorant Upright;
}
.entreespecials td {
  padding-left: 60px;
  font-size: small;
  font-family: Open Sans;
}
.entreespecials h3 {
  font-size: 40px;
  font-style: Libre Baskerville;
}
.btn1 {
  font-family: Libre Baskerville;
  font-size: 20px;
  margin-left: 483px;
  margin-top: 10px;
  width: 25%;
  height: 40px;
  background-color: black;
  color: white;
}
.btn1:hover {
  background-color: #fecb08;
  border: none;
  color: black;
  border-radius: 10px;
}
label #btn,
label #cancel{
  font-size: 30px;
  
  line-height: 40px;
  margin-left: 40px;
  cursor: pointer;
  display: none;

}
#check {
  display: none;
}



@media (max-width: 600px ){
  

.header-content h1{
  font-size: 80px;
}
.header-content h2{
  font-size: 20px;
}
.header-content h3{
  font-size: 15px;
}


/* today special */
.menu{
  width: 100%;
  height: 110vh
}
.maincourses {
  width: ;
}

.maincourses h3{
  font-size: 20px;
  
}
.maincourses th{
  font-size: 15px;
  text-align: center;
}
h2{
  font-size: 40px;
}
.maincourses td{
  font-size: 10px;
}
.image img{
  width: 180px;
  height: 400px;
  ;
}
.entreespecials h3{
  font-size: 20px;
  
}
.entreespecials th{
  font-size: 15px;
  text-align: center;
}
.entreespecials td{
  font-size: 10px;
}
.btn1{
  font-size: 10px;
  width: 80px;
  height: 20px;
  
}

  
  label #btn{
    display: block;
  }
  .nav-links{
    flex-direction: column;
    
  }
  ul{
    
    position: fixed;
    width: 30%;
    height: 100vh;
    background-color: #ffff;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 2000;
    transition: all 0.5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 80px;
    
  }
  nav ul li a{
    font-size: 15px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #cancel{
    display: block;
  }


}

